@model Web.Models.SysUser

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <div>
        <h2>Create</h2>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken() //防止跨站脚本攻击
                                <div>
                                    @Html.LabelFor(model => model.UserName)
                                    @Html.EditorFor(model => model.UserName)
                                </div>
                                <div>
                                    @Html.LabelFor(model => model.Email)
                                    @Html.EditorFor(model => model.Email)
                                </div>
                                <div>
                                    @Html.LabelFor(model => model.Password)
                                    @Html.EditorFor(model => model.Password)
                                </div>
                                <div>
                                    <input type="submit" value="Save" />
                                </div>
        }

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
</body>
</html>
