@*@model IEnumerable<Web.Models.SysUser>*@
@model PagedList.IPagedList<Web.Models.SysUser>
@using PagedList.Mvc
<link href="~/Content/PagedList.css" rel="stylesheet" />

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h1 class="page-header">MVCDemo</h1>
<div class="row placeholders">

</div>
<p class="sub-header">@Html.ActionLink("Create New", "Create")</p>
@using (Html.BeginForm("Index","Account",FormMethod.Get))
{
<p>
    Find by name : @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
    <input type="submit" value="Search" />
</p>
}
<div class="table-responsive"> 
        <table class="table table-striped">
            <tr>
                <th>
                    @Html.ActionLink("UserName","Index",new { sortOrder = ViewBag.NameSortParm,currentFilter=ViewBag.CurrentFilter})
                </th>
                <th>
                    @Html.ActionLink("Email", "Index", new { sortOrder = ViewBag.EmailSortParm, currentFilter = ViewBag.CurrentFilter })
                </th>
                <th>
                    CreateDate
                </th>
                <th>
                    Department
                </th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreateDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SysDepartment.DepartmentName)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { id = item.ID })
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID })
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                    </td>
                </tr>
            }
        </table>
    <br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
    </div>
